# Build
build
.setvars.sh
CMakePresets.json

# Executables
bin/

# TecIO files
tecio-install*
teciompi-install*
tecio-build*
teciompi-build*
lib/TecIO/boost
lib/TecIO/teciosrc/boost

# Distribution / packaging
.Python
env/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# doc files
docs/html

# Fortran module files
*.mod
